@model SpecialistDic.DataAccess.TermQueryResult
@if (Model != null)
{

    <div class="cell grid-x grid-padding-x grid-padding-y align-center">
        @for (int i = 97; i < 123; i++)
        {
            <a class="button secondary zdv-border-light" asp-route-q="@((char)i)">@((char)i)</a>
        }
    </div>

    <div id="content-container" class="cell auto grid-x grid-padding-x">
        <div id="search-container" class="cell medium-cell-block-y medium-3 small-12 margin-top-1">
            <form class="form-inline">
                <div class="input-group">
                    <input type="text" class="input-group-field" autofocus name="q" placeholder="Bitte Begriff eingeben" />
                    <div class="input-group-button">
                        <input type="submit" class="button" value="Suchen" />
                    </div>
                </div>
                <div class="form-group">
                    <i class="fa list-ul"></i>
                    @if (Model.ResultCount == Model.Terms.Count)
                    {
                        <b>Zeige @Model.ResultCount Ergebnisse</b>
                    }
                    else
                    {
                        <b>Zeige @Model.Terms.Count von @Model.ResultCount Ergebnissen</b>
                    }
                </div>
            </form>

            @if (Model.Terms.Any())
            {
                <ul class="side-nav">
                    @for (int i = 0; i < Model.Terms.Count; i++)
                    {
                        var item = Model.Terms[i];
                        <li>
                            <a href="#term_@i">
                                @item.SourceTerm.Text
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>

        <div id="result-container" class="cell medium-cell-block-y medium-9 small-12">
            @if (Model.Terms.Any())
            {
                for (int i = 0; i < Model.Terms.Count; i++)
                {
                    var item = Model.Terms[i];
                    <div class="padding-top-1" id="term_@i">
                        <div class="callout margin-bottom-0">
                            @Html.Partial("TermFilterResult", item)
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="callout top text-center">
                    <h5>Es wurden keine Resultate zu Ihrer Anfrage gefunden</h5>
                </div>
            }
        </div>
    </div>

    <div class="cell grid-x grid-padding-x grid-padding-y align-center">
        @for (int i = 97; i < 123; i++)
        {
            <a class="button secondary zdv-border-light" asp-route-q="@((char)i)">@((char)i)</a>
        }
    </div>
}